[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
google-api-python-client = "==1.7.8"
google-auth-oauthlib = "==0.2.0"

[dev-packages]

[requires]
python_version = "3.9"
